.env
config.overrides.toml
*.htpasswd

venv/
/mounted_data

__pycache__

client_secret_88616364206-kcl0i6c68lqsvqms1sfptbq8uq2r7f8i.apps.googleusercontent.com.json
client_secret_88616364206-r0mg961kfoeh9kep63b33j00rn5hm4ge.apps.googleusercontent.com.json
data/
data_old/
data_old2/
extfiles/
keygen.py
convertchat2json.py
addcategory2filelist.py
data.rar
data.tar
todo.txt
todo.txt
testpdf.py
upload.log
client_secret_174608231730-gbvlfk19nrd1sqds69gurfdvs90o5obm.apps.googleusercontent.com.json
testdata/
log.txt
index_files_test.py
doneTodos.txt
testaicall.py
source/api/templates/testaicall.html
source/api/templates/testapi.html
source/api/utilities/llamaindex_calls.py
pinecone_query.py
temp_script.py
query_index.py
processuploadedfiles.py
docupload.py
pdfextraction.py
llmemail.py
source/api/templates/email.html
token.pickle
key.key
docanalysis/

config_old.py

source/api/modules/docguide/templates/docguide_old.html
source/api/static/tmpfiles/
old_log_20mar2024.txt

.idea
org3
source/api/utilities/externalapi_helpers/temp/
